/* Estilos para la página del café */

/* Selector unitario */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */
body {
    background-color: #f1ecea;
    background-image: url('/img/CIne3.jpg'); /* Ajusta la ruta de la imagen de fondo */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: auto; /* Configurado para ajustar el tamaño de la imagen automáticamente */
    background-position: top left; /* Ajusta la posición de la imagen de fondo */
}

header {
    background-color: #8b0000; /* Rojo oscuro */
    font-family: 'Times New Roman', Times, serif;
    color: black; /* Cambio de color a negro */
}

nav {
    background-color: #8b0000; /* Rojo oscuro */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section {
    background-color: #362f2f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    height: 75%;
}

footer {
    background-color: #000; /* Cambia el color de fondo a negro */
    color: #fff; /* Cambia el color del texto a blanco */
    padding: 10px; /* Agrega espacio interior alrededor del contenido del pie de página */
    text-align: center; /* Centra el texto en el pie de página */
}


aside {
    background-color: #b58c7c;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
}
