/* Estilos para la página del café */

/* Selector unitario */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */
body {
    background-color: #f1ecea;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-color: #3a251c;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

nav {
    background-color: #b46424;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section {
    background-color: #362f2f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    height: 75%;
}

footer {
    background-color: #3a251c;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

aside {
    background-color: #b58c7c;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
}

/* Selector de ID */
#contenedor {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}

#seccion {
    background-color: #362f2f;
    margin: .5rem;
    border-radius: 5px;
    text-align: center;
}

#fueraseccion {
    border-radius: 5px;
    background-color: #b58c7c;
    display: block;
}

#menu {
    height: 5%;
    background-color: #b46424;
    list-style: none;
}

/* Selector de clase */
#encabezado {
    padding: 10px;
    text-align: center;
    margin: 1em 2em;
    border-radius: 5px;
}

.barraNavegacion {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.pienavegacion {
    font-size: 15px;
}

.texto {
    font-size: 15px;
    padding: 5px 25px;
    text-align: justify;
    /* color: black; */ /* Puedes ajustar el color aquí o eliminar esta línea */
}

.lista-aside {
    list-style: none;
}

/* Selector de Etiqueta */
ul {
    text-align: center;
}

li {
    padding: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 5px 5px;
    border: 1px solid black;
}

.grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

/* Selector de evento */
li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}
